.btn {
  display: inline-flex;
  padding: 10px 20px;

  color: $color-default-white;

  background-color: $color-neon-blue;
  border: none;
  cursor: pointer;

  transition: opacity $trans-default;

  &--red {
    background-color: $color-torch-red;
  }

  &:disabled {
    opacity: 0.5;

    pointer-events: none;
  }

  @include hover-focus {
    opacity: 0.8;
  }
}

.btn--callback {
  font-family: $ff-roboto;
  font-size: 14px;
  line-height: 16px;
  display: block;
  padding: 10px;
  min-width: 160px;
  min-height: 40px;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  border: 1px solid $color-alice-blue;
  border-radius: 3px;
  background-color: transparent;
  margin-right: 60px;

  @media (max-width: 1023px) {
    display: none;
  }
}
