.contact-list {
  @include list-reset();
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 30px;
  width: 480px;

  @media (max-width: 1023px) {
    width: 100px;
    column-gap: 20px;
    margin-left: 0;
  }
}

.contact-list__link {
  color: $color-alice-blue;
  line-height: 18px;
  font-family: $ff-ptmono;
  display: flex;
  align-items: center;
  padding: 5px 0;

  & span {
    @media (max-width: 1023px) {
      display: none;
    }
  }

  @media (max-width: 1023px) {
    margin: 0 auto;
    padding: 10px;
  }

  &--mail::before {
    content: "";
    display: inline-block;
    width: 20px;
    height: 20px;
    background-image: url("./../img/svg/mail.svg");
    background-repeat: no-repeat;
    margin-right: 15px;

    @media (max-width: 1023px) {
      margin: 0;
    }
  }

  &--tel::before {
    content: "";
    display: inline-block;
    width: 20px;
    height: 20px;
    margin-right: 15px;
    background-image: url("./../img/svg/phone.svg");
    background-repeat: no-repeat;

    @media (max-width: 1023px) {
      margin: 0;
    }
  }
}
