.form {
  background-color: $color-deep-sky-light;
  position: relative;

  &::after {
    content: "";
    display: block;
    position: absolute;
    top: -9%;
    right: 47%;
    height: 920px;
    z-index: 1;
    width: 53%;
    background-position: inherit;
    background-image: url("./../img/svg/polygon.svg");
    background-repeat: no-repeat;
    background-size: contain;

    @media (max-width: 1023px) {
      display: none;
    }
  }
}

.form__wrapper {
  display: flex;
  gap: 109px;

  & form {
    margin-top: -77px;
    width: 601px;

    @media (max-width: 1023px) {
      width: 100%;
      margin-top: 0;
    }
  }

  @media (max-width: 1023px) {
    display: block;
  }

  &::before {
    content: "";
    display: block;
    z-index: 2;
    width: 510px;
    height: 285px;
    background-image: url("./../img/block/airplane.webp");
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;

    @media (max-width: 1023px) {
      display: none;
    }
  }
}

.form__title {
  @include style-reset();

  padding-left: 6px;
  font-family: $ff-roboto;
  font-weight: 400;
  font-size: 36px;
  line-height: 51px;
  color: $color-default-white;
  margin-bottom: 7px;

  @media (max-width: 1023px) {
    margin-bottom: 8px;
    padding-left: 0;
  }

  @media (max-width: 767px) {
    margin-bottom: 2px;
    font-weight: 400;
    font-size: 29px;
    line-height: 42px;
  }
}

.form__description {
  @include style-reset();
  line-height: $line-height;
  font-family: $ff-ptmono;
  color: $color-default-white;
  margin-bottom: 35px;
  padding: 0 10px;

  @media (max-width: 1023px) {
    margin-bottom: 21px;
    padding: 0;
  }

  @media (max-width: 767px) {
    margin-bottom: 29px;
  }
}

.form__contact {
  display: flex;
  gap: 30px;
  margin-bottom: 20px;
  padding: 0 10px;

  @media (max-width: 1023px) {
    padding: 0;
  }

  @media (max-width: 767px) {
    flex-direction: column;
    gap: 20px;
  }

  & label {
    width: 100%;
  }

  & input {
    width: 100%;
    font-family: $ff-ptmono;
    font-style: normal;
    font-weight: 400;
    font-size: $fz-default;
    line-height: $line-height;
    padding: 15px;
    background: rgba(4, 20, 39, 0.15);
    border: none;
    border-radius: 3px;

    &::placeholder {
      color: $color-default-white;
    }
  }
}

.form__textarea {
  padding: 0 10px;
  margin-bottom: 22px;

  @media (max-width: 1023px) {
    padding: 0;
    margin-bottom: 25px;
  }
}

.form__textarea textarea {
  font-family: $ff-ptmono;
  font-style: normal;
  font-weight: 400;
  font-size: $fz-default;
  line-height: $line-height;
  padding: 23px 15px;
  background: rgba(4, 20, 39, 0.15);
  border: none;
  border-radius: 3px;
  width: 100%;

  @media (max-width: 1023px) {
    padding: 29px 15px 17px;
  }

  @media (max-width: 767px) {
    padding: 22px 15px 45px;
  }

  &::placeholder {
    color: $color-default-white;
  }
}

.form__bottom {
  display: flex;
  flex-direction: row-reverse;
  align-items: end;
  padding: 0 10px;

  @media (max-width: 1023px) {
    padding: 0;
    align-items: center;
  }

  @media (max-width: 767px) {
    flex-direction: column-reverse;
    align-items: center;
  }
}

.form__bottom button {
  font-family: $ff-roboto;
  font-weight: 400;
  line-height: 19px;
  max-width: 265px;
  width: 100%;
  align-items: center;
  color: $color-default-white;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  padding: 15px 25px;
  background: $color-black-perl;
  border: none;
  border-radius: 3px;
  cursor: pointer;
  margin-right: 50px;

  @include hover-focus {
    @media (hover: hover) {
      &:hover:not(.focus-visible) {
        opacity: 0.5;
      }
    }

    &.focus-visible:focus {
      opacity: 0.5;
    }
  }


  @media (max-width: 1023px) {
    margin-right: 85px;
  }

  @media (max-width: 767px) {
    flex-direction: column;
    max-width: 100%;
    width: 100%;
    margin: 0 0 25px;
    padding: 12px 25px;
  }
}

.form__bottom-modal {
  flex-direction: column-reverse;
  align-items: center;

  & button {
    margin: 0 0 20px;
    max-width: 100%;
  }
}
